@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    /*
    *
    * Af Mads
    *
    */
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to OrderSmart</h1>
        <p>To proceed; Open the dropdown menu, and hit an option.</p>
    </div>
</body>

